body{
    color: blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;


}
#container{
    color: rgb(13, 121, 112);
    text-align: left;
    border: 2px solid rgb(7, 7, 7);
    margin: 0 auto;
    padding: 1em;


}
#cabecera{

    color: rgb(220, 230, 227);
    text-align: center;
    font-size: 70%;
    background: #33a;
    border: 3px solid rgb(122, 64, 64);
}